include{common.tt}
MySite.window_title{ EvolveName{} - Towers of Hanoi }
MySite.body{

Section{Towers of Hanoi}

//{ **************************************** }

HEREDOC{ CodeSample{towers_of_hanoi.kf} }

//{ **************************************** }

} //{ MySite.body }
