include{common.tt}
MySite.window_title{ Kforth Activity 1: Bubble Sort }
MySite.body{

Title{Kforth Activity 1: Bubble Sort}

P{
This example implements bubble sorting for all the numbers in a code block.
}

//{ **************************************** }

HEREDOC{ CodeSample{kforth_bubble.kf} }

//{ **************************************** }

} //{ MySite.body }
